extend ../common
block position
    - var position=true
block topnotice
    - var topnotice=true
block left
    - var left=true
block right
    section#section
        dl.dl_pannel_account(style='padding:0 12px')
            dt 交易明细
            dd
                ul.nav_pills
                    li.active
                        a(href='javascript:;' value='0') 全部
                    if !isheadshow.bindSerialNo || isheadshow.eCardType === '0'
                        li
                            a(href='javascript:;' value='1') 充值
                        li
                            a(href='javascript:;' value='2') 提现
                    li
                        a(href='javascript:;' value='3') 投资
                    li
                        a(href='javascript:;' value='4') 回款
                    //li
                    //    a(href='javascript:;' value='5') 还本

                    li(style='position:relative;float:right;padding-right:0px')
                        span(style='display:inline-block;font-size:14px;padding-right:5px') 选择时间
                        input#start.laydate-icon(style='width:220px;', type='text', placeholder='点击选择日期')
                        i(style='display:inline-block;margin:0 3px;') -
                        input#end.laydate-icon(style='width:220px;', type='text', placeholder='点击选择日期')
                table.table(cellpadding='0',cellspacing='0')
                    thead
                        th(width='119') 时间
                        th(width='119') 交易类型
                        th(width='339') 交易详情
                        th(width='185') 交易金额（元）
                        //th(width='185') 交易状态
                    tbody.trlist.text-center
                        tr
                            td
                            td
                            td 暂无数据
                        //tr.color-red
                            //td 2017-03-04
                            //td 充值
                            //td 出借≥30天，出借1000元可用
                            //    p 适用于：金保理、金担保
                            //td 20
                            //td 可使用

                .pagination.hidden
block script
    include ../jslib/account/dealhistoryjs