extend ../common
block position
    - var position=true
block topnotice
    - var topnotice=true
block left
    - var left=true
block right
    input#activityRules(type='hidden',value=activityRules)
    section#section
        dl.dl_pannel_account
            dt 抵现红包
            dd.text-center
                .row.font16.pad-top-40.pad-bottom-40
                    div.col-25 奖励红包总金额(元)
                        p#totalAmount
                    div.col-25 已使用红包金额(元)
                        p#useAmount
                    div.col-25 未使用的红包金额(元)
                        p#unUseAmount
                    div.col-25 已过期的红包金额(元)
                        p#loseAmount

        dl.dl_pannel_account
            dt 红包详情
            dd
                ul.nav_pills#redpacketType
                    li.active
                        a(href='javascript:;') 全部
                    li
                        a(href='javascript:;') 可使用
                    li
                        a(href='javascript:;') 已过期
                    li
                        a(href='javascript:;') 已使用
                table.table(cellpadding='0',cellspacing='0')
                    thead
                        th(width='119') 红包金额(元)
                        th(width='119') 类型
                        th(width='339') 红包使用条件
                        th(width='185') 有效期
                        th 状态
                    tbody.text-center#userRedPacket
                .pagination
block script
    include ../jslib/account/redpacketjs