extend ../common
block position
    - var position=true
block topnotice
    - var topnotice=true
block left
    - var left=true
block right
    section#section
        dl.dl_pannel_account(style='padding:0 12px')
            dt
                a(href=website+'/user/myrepayment.html')
                    i.fa.fa-angle-left.pad-right-10
                    |我的项目

            dd(style='position:relative')
                h3.font14.pad-top-15 金保理A108
                p.pad-top-5.pad-bottom-10 应回本息合计：
                    span.payAmount.color-red 1020.00
                    |元
                table.table(cellpadding='0',cellspacing='0')
                    thead.thread
                        tr
                            th(width='192') 回款日期
                            th(width='266') 应回利息
                            th(width='229') 应回本金
                            th 状态
                    tbody.text-center
                        //tr
                            td 2017-12-12
                            td 20.00
                            td 1000.00
                            td 已还款

                .pagination.hidden
block script
    include ../jslib/account/repaymentdetailjs

