extend ../common
block style
    style.
        body{background:#fff;}
block main
    div.business
        div.business_banner
        div.product
            img(src='../images/security/business_02new.png')
            img(src='../images/security/business_03new.png')
        div.business_centent
            div.container
                h2 实力雄厚的合作伙伴
                div.row
                    div.news.pull-left
                        h3 中融创盈商业保理有限公司
                        p 中融创盈商业保理有限公司注册资本5000万元，为国有企业全资子公司。
                        p 公司经营范围主要为：为企业提供贸易融资、销售分户账管理、客户资信调查与评估、应收账款管理、信用风险担保等服务。
                    div.news.pull-right
                        h3 中投国泰融资担保有限公司
                        p 中投国泰融资担保有限公司成立于2010年3月，2013年经北京市房山区发改委批准战略重组，注册资本金人民币3亿元整。
                        p 公司是北京市房山区政府、发改委领导下的国有控股融资担保公司，担保行业信用评级为A。
block script
    include ../jslib/otherjs



