extend ../common
block main
block position
    - var position=true
block leftnavtzzjy
    -var leftnavtzzjy=true
block right_help
    .right_tzzjy#id1
        h3 #{curTab}
        ul#List
    //二级页面
    .right_tzzjy.jydetail.hidden
        .substance
            .backtrack
                a(href='javascript:;') <i class="fa fa-angle-left" aria-hidden="true"></i> 返回列表
            p.one 中国银监会办公厅关于印发网络借贷资金存管业务指引的通知
            p.two
                | 文章来源：
                span 中国银行业监督管理委员会网站
                i 时间：2017年02月28日
            p 银监办发〔2017〕21号
            p 各银监局，各省、自治区、直辖市人民政府金融办（局），各大型银行、股份制银行，邮储银行，外资银行：
            p 为贯彻落实人民银行等十部门《关于促进互联网金融健康发展的指导意见》和中国银监会等四部门《网络借贷信息中介机构业务活动管理暂行办法》关于建立客户资金第三方存管制度的工作部署和要求，实现客户资金与网络借贷信息中介机构自有资金分账管理，防范网络借贷资金挪用风险，银监会研究制定了网络借贷资金存管业务指引，现印发给你们，请结合实际贯彻执行。
            p.time 2017年2月22日
            p.text-center 网络借贷资金存管业务指引
            p.text-center 第一章 总  则
            p 第一条 为规范网络借贷资金存管业务活动，促进网络借贷行业健康发展，根据《中华人民共和国合同法》、《中华人民共和国商业银行法》和《关于促进互联网金融健康发展的指导意见》、《网络借贷信息中介机构业务活动管理暂行办法》及其他有关法律法规，制定本指引。
            p 第二条 本指引所称网络借贷资金存管业务，是指商业银行作为存管人接受委托人的委托，按照法律法规规定和合同约定，履行网络借贷资金存管专用账户的开立与销户、资金保管、资金清算、账务核对、提供信息报告等职责的业务。存管人开展网络借贷资金存管业务，不对网络借贷交易行为提供保证或担保，不承担借贷违约责任。
            p 第三条 本指引所称网络借贷资金，是指网络借贷信息中介机构作为委托人，委托存管人保管的，由借款人、出借人和担保人等进行投融资活动形成的专项借贷资金及相关资金。
            p 第四条 本指引所称委托人，即网络借贷信息中介机构，是指依法设立，专门从事网络借贷信息中介业务活动的金融信息中介公司。
            p 第五条 本指引所称存管人，是指为网络借贷业务提供资金存管服务的商业银行。
            p 第六条 本指引所称网络借贷资金存管专用账户，是指委托人在存管人处开立的资金存管汇总账户，包括为出借人、借款人及担保人等在资金存管汇总账户下所开立的子账户。
            .pagenew
                a(href='javascript:;') 上一篇：新手专享注册即送160元红包和88888元特权本金活动上线公告
                a(href='javascript:;') 下一篇：网银支付北京银行维护通知
block script
    include ../jslib/help/tzzjyjs



