extend ../common
block main
    .register
       .centent
           h2(style='padding-bottom:0;') 金投手平台居间服务协议（借款人版）
           p(style='padding-left:55%;') 合同序号：
           p(style='padding-left:44%;') 签署地：北京市海淀区
           p(style='padding-left:44%;') 签署时间：2016年  月  日

           p.pad-top-15 甲&emsp;方：
           p.row
               p.col-35 证件类型：
               p.col-65 证件号码：
           p 法定代表人：
           p 地&emsp;址：
           p 电&emsp;话：

           p.pad-top-15 乙&emsp;方：
               p.row
                   p.col-35 证件类型：
                   p.col-65 证件号码：
               p 法定代表人：
               p 地&emsp;址：
               p 电&emsp;话：

           p.pad-top-15 鉴于：
           p 1、甲方是一家合法成立并有效存续的有限责任公司，因经营需要有融资的实际需求；
           p 2、乙方是一家在北京合法成立并有效存续的有限责任公司，拥有www.jintoushou.com网站（以下简称“平台”）的所有权和经营权，为中小企业提供投融资居间服务及技术支持服务；
           p 甲、乙双方在平等自愿基础上，根据诚实信用、互利双赢的原则，就甲方通过乙方平台，为甲方提供融资居间服务事宜，达成一致，订立如下条款，以兹信守：

           h4.pad-top-15 第一条  释 义
           p 1、借款人
           p 本协议项下的借款人是指本协议甲方，指在平台发布融资需求信息，从出借人处获得资金的自然人、法人或其他组织，在平台上也称为“融资人”。
           p 2、出借人
           p 本协议项下的出借人是指通过乙方平台提供的信息中介服务，出借资金给借款人的自然人、法人或其他组织，在平台上也称为“投资人”。借款人与乙方及出借人签署相关协议文件后，乙方协助安排出借人在约定时间和约定条件下代借款人向甲方履行付款义务。
           p 3、费用
           p 在本协议中，“费用”包括借款人通过乙方平台签订与出借人签订《借款合同》中所约定的借款本金、利息及还款违约金、罚息等款项总和。
           p 4、提前一次性还款金额
           p 在本协议中，“提前一次性还款金额”一词指借款人在还款期内所有应承担的还款金额，提前一次性还款的计算方式以借款人与出借人签订的《借款合同》约定的计算方式为准。

           h4.pad-top-15 第二条 甲方权利义务
           p 1、甲方声明并承诺，其为依据中国法律设立并有效存续的有限责任公司，具有一切必要的权利及能力订立及履行本协议项下的所有义务和责任。
           p 2、甲方须按照乙方的要求提供详细资料，包括但不限于甲方的营业执照、企业机构代码证、税务登记证、财务报表等资料，并如实填报有关表格内容等。
           p 3、甲方有权依据本协议的约定使用乙方和乙方平台提供的融资相关服务。
           p 4、甲方须按照约定的用途使用融资款项。
           p 5、甲方应按本协议约定向乙方支付各项费用，包括但不限于融资服务费等。
           p 6、甲方承诺并保证遵守本协议以及其与乙方或其关联方签署的其他协议的约定，并遵守乙方制定的其他相关制度、规则，维护乙方及乙方平台的正常运作及其公信力，不实施有损于乙方及乙方平台的行为。
           p 7、甲方承诺并保证其提供的所有信息(包括但不限于注册信息、项目信息等)是真实、准确、完整的，符合中国各项法律、法规及规范性文件以及乙方及乙方平台相关规则的规定，不存在虚假、误导性陈述或重大遗漏，并承诺及时对已发布的信息进行更新、维护和管理。
           p 8、甲方承诺并保证其提供的所有信息(包括但不限于注册信息、项目信息等)不存在侵犯其他任何第三方知识产权及其他合法权利的情形。
           p 9、甲方同意并授权乙方及乙方合作的电子签名服务商为甲方制作具有法律效力的电子签名，并用于本次融资项目电子合同的签署。甲方承认使用该电子签名签署的合同的效力，并同意按该合同享受权利、承担义务。
           p 10、甲方承诺其通过不同网络借贷信息中介机构平台借款总余额不超过人民币500万元。如乙方发现甲方借款余额超过前述标准的，乙方有权拒绝为甲方提供相关借款服务，直至甲方借款余额满足限额的要求。

           h4.pad-top-15 第三条 乙方的权利义务
           p 1、乙方承诺并保证运用其平台为甲方提供本协议约定的技术服务和居间服务，并利用其自身及外围资源为甲方提供相应的业务建议，但乙方不对甲方融资或其他交易的达成做出任何担保或保证，也不对甲方融资或其他交易的后果做出任何担保和保证。
           p 2、乙方有权向出借人提供甲方所提供的资料(甲方明确要求不得对外提供的除外)，乙方对于出借人在占有、使用相关资料过程中可能给甲方造成损害等不承担任何责任。
           p 3、乙方有权向甲方收取本协议项下的服务费。
           p 4、乙方有权要求甲方为乙方信用咨询工作进行相应的配合与支持。
           p 5、乙方应在融资项目募集完毕后及时将募集款项支付至甲方提供的收款账户中。

           h4.pad-top-15 第四条  咨询服务费
           p 1、基于乙方为甲方提供的募资需求推荐、信息咨询等各项服务，甲方应向乙方支付服务费，服务费为募资金额的
                u &emsp;&emsp;
                |%，即人民币大写：
                u &emsp;&emsp;
                |元整。
           p 2、乙方指定银行账户：
           p 户  名：
           p 开户行：
           p 账  号：

           h4.pad-top-15 第五条 保密条款
           p 1、未经书面同意，任何一方不得在各方合作目的之外以文字记录、电磁记录、语音记录等方式，就本项协议之使用或向第三方透露其他各方的任何信息。
           p 2、如终止合作，任何一方须在其他方提出资料回收要求时, 将有关资料及其复制件交还给其他方，或应其他方的要求将这些资料及其复制件销毁。
           p 3、对于协议方人员在协议履行过程中所获得或了解的商业秘密，协议任何一方均应承担保密义务。未经对方事先的书面许可，任何一方不得利用或披露这些信息。
           p 4、上述保密义务不适用于任何下列情况：
           p (1)在本协议签订当日或之后任何时间，并非由于接受方的原因而为公众所知的保密资料；
           p (2)有关法律、行政法规、规范性文件和有关政府、行业主管部门规定须予披露时；
           p (3)为执行本协议，双方可按需要合理地向其雇员、专业顾问或代理人披露适当的保密资料，双方须确保和促使其雇员、专业顾问或代理人遵守本协议约定的保密义务。

           h4.pad-top-15 第六条  违约责任
           p 1、任何一方违反本协议的约定，使得本协议全部或部分不能履行的，违约方应当承担全部责任，并赔偿非违约方因此遭受的损失（包括由此产生的诉讼费和律师费）；如双方违约，应当根据实际情况各自承担相应的责任。
           p 2、乙方保留将甲方违约失信相关信息在媒体披露的权利。
           p 3、甲方应当承担未按照《借款合同》的约定履行还款义务而带来的违约金、罚息及调查和诉讼费用。

           h4.pad-top-15 第七条  变更通知
           p 1、自本协议签订之日起至募资款项及利息全部清偿之日止，甲方有义务在下列信息（包含但不限于）变更三日内向乙方及特定出借人提供更新后的信息：经营地址、联系人信息等的变更。
           p 2、甲方应当承担因甲方不及时提供上述变更信息而带来的调查及诉讼费用。

           h4.pad-top-15 第八条 争议解决条款
           p 1、如因履行本协议或与本协议有关的任何争议，双方应通过友好协商的方式加以解决。如协商不成，任何一方均有权向合同签署地人民法院提起诉讼。合同签署地以本协议文首所载签署地为准。

           h4.pad-top-15 第九条 其他事项
           p 1、本协议自甲乙双方签字盖章之日起生效后，协议有效期至甲方将《借款合同》项下融资款项及利息全部清偿之日终止。
           p 2、本协议及其附件的任何修改、补充均须以书面形式做出。
           p 3、本协议的传真件、复印件、扫描件等有效复本与本协议原件具有同等法律效力。
           p 4、甲乙双方均确认，本协议的签署、生效和履行以不违反中国的法律法规为前提。如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
           p 5、本协议壹式贰份，甲乙双方各持有一份，均具有相同的法律效力。

           p.row.pad-top-15
                p.col-35
                    b 甲方：
                p.col-65
                    b 乙方：
                p.col-35.pad-top-15
                    b 法定代表人：
                p.col-65.pad-top-15
                    b 法定代表人：
                p.col-35.pad-top-15.pad-bottom-40
                    b 日期：
                p.col-65.pad-top-15.pad-bottom-40
                    b 日期：
block script
    include ../jslib/otherjs