extend ../common
block main
    .register
       .centent
           h2 浙商银行委托扣款业务服务协议
           table.text-center(cellspacing='0',cellpadding='0')
               tr
                   td 证件类型
                   td(width='220') &nbsp;
                   td 证件号码
                   td(colspan='2') &nbsp;
               tr
                   td 客户名称
                   td
                   td 手机号码
                   td(colspan='2')
                    span.font12 （填写扣款账户预留手机号码）
               tr
                   td 扣款账户户名
                   td
                   td 账号
                   td(colspan='2')
               tr
                   td 账户开户网点
                   td
                   td(colspan='2') 合同号/协议编号/会员号
                   td()
               tr
                   td 委托内容
                   td(colspan='4')
                        span 委托浙商银行接收
                            u &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            |平台指令后扣款。
               tr
                   td 申请种类
                   td(colspan='4') □开办&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;　□变更 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; □终止
           p.text-indent.pad-top-20 本人自愿授权浙商银行股份有限公司
                   u &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                   |行（以下简称“贵行”）按上表授权委托内容中的平台（以下简称“该平台”）提供的金额，从上表所列扣款账户(以下简称“指定账户”)中以无卡（折）方式转账支付相关款项。
           p.text-indent.pad-top-20 授权声明：
           p.text-indent.pad-top-20 一、本人理解并同意开通贵行委托扣款业务，即授权贵行在本人向该平台提交
                u.color-red &emsp;充值&emsp;
                |等交易后，即可通过贵行或第三方支付机构等渠道，向指定账户发起扣款指令，并从该指定账户扣取对应的款项至
                span.color-red 本人
                |在贵行开立的账户;同一账户同时发生授权支付多笔款项时，贵行有权决定支付先后次序。
           p.text-indent.pad-top-20 二、指定账户在本人支付对应款项时应有足够的资金，若因存款不足导致扣款不成功，本人愿承担由此产生的责任，并授权贵行自动从指定账户中扣取该平台规定的滞纳金。
           p.text-indent.pad-top-20 三、若该平台与贵行终止委托扣款项目，本授权书自动失效。
           p.text-indent.pad-top-20 四、本人若对委托扣款项目的用户资料进行变更或终止授权，须由本人持有效证件到贵行指定网点（或电子银行渠道）办理变更或终止授权手续，贵行收到并受理变更或终止授权书（或数据报文）后生效。
           p.text-indent.pad-top-20 五、若因指定账户被挂失、冻结、止付、过期、超额度、销户、作废、余额不足及该平台的资料与本人在贵行的委托资料不符等导致扣款不成功，或因监管政策变化造成委托扣款不成功或项目终止，由此产生的责任由本人承担。
           p.text-indent.pad-top-20 六、本人如对委托扣款的金额有疑问，将直接与该平台联系，联系方式为：
               u &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
               |。
           p.text-indent.pad-top-20 七、授权贵行在本人使用委托扣款相关服务期间及服务终止后，有权保留本人在使用服务期间所形成的相关数据信息，该授权不可撤销。
           p.text-indent.pad-top-20 八、贵行可根据有关法律法规向政府部门、司法机关、征信机构等第三方提供所获得的本人全部数据信息；并可用于贵行市场分析、案例分享及产品推广等活动。
           p.text-indent.pad-top-20 本人对所填资料的真实性、准确性负责，并知悉本授权书所列所有授权声明事项。
           p.text-indent.pad-top-20 本授权书通过电子银行渠道签订时：本授权书在客户通过校验手机动态码等方式确认后生效。
           p.text-indent.pad-top-20 授权日期： 20    &emsp;&emsp;年    &emsp;&emsp;月    &emsp;&emsp;日
block script
    include ../jslib/otherjs