extend ../common
block position
    - var position=true
block main
    section.container.bg-white
        dl.dl-forgetpwd.forgetpwdstart
            dt
                .steps-round-bar
                    .row
                        .col-33.cur
                            label 填写手机号
                            span  1
                        .col-33
                            label 设置新密码
                            span  2
                        .col-33
                            label 完成
                            span  3
            dd
                ul
                    li.form-group
                        input#tel.form-control.mobilePhone(placeholder='手机号码',name='mobilePhone',type='text',maxlength=11,onkeyup="value=value.replace(/[^\\d]/g,'')",onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\\d]/g,''))")
                        div.form-error
                    li.form-group.form-group-code-img
                        div.clearfix
                            input#msgVCode.form-control(placeholder='图片验证码',name='codeImg',type='text',maxlength=4)
                            img.btn-code-img(src=website+"/images/def.png")
                        div.form-error
                a.btn.btn-default#forgetpwdstartBtn(href='javascript:;') 下一步
                input(type='hidden' id='forgetPwdStartTicket' name='forgetPwdStartTicket' value='#{forgetPwdStartTicket}')
                input(type='hidden' id='forgetPwdStartToken' name='forgetPwdStartToken' value='#{forgetPwdStartToken}')
block script
    include ../jslib/userSign/forgetpwdstartjs

