extend ../common
block main
    .register
       .centent
           h2 金投手平台居间服务协议（出借人版）
           p.row
               p.col-40
                   b 甲方（投资人）：
               p.col-60
                   b 用户名：
               p.col-40
                   b 证件类型：
               p.col-60
                   b 证件号码：
           p
               b 乙方（居间服务人）：金投手金融信息服务（北京）有限公司
           p.pad-top-15.text-indent 根据《中华人民共和国合同法》及相关法律法规规定，双方遵循平等、自愿和诚实信用原则，经友好协商，就乙方为甲方提供居间服务达成一致，以兹共同遵守。

           h4.pad-top-15 声明与承诺
           p.text-indent 1、甲方保证在签署本协议并注册成为金投手用户时，具有完全民事行为能力。
           p.text-indent 2、甲方是乙方运营的“金投手”平台注册用户，同意并遵守金投手发布的各项规则、规定，具有以其自有的合法资金向借款人提供借款的意愿。
           p.text-indent 3、乙方作为居间服务人，是一家在中国北京市合法成立并有效存续的有限责任公司，运营的平台“金投手”（网址为：www.jintoushou.com）可以向有富余资金的平台注册用户及有借款需求的客户提供信息发布和居间撮合交易服务。
           p.text-indent 4、除本协议另有规定或乙方另行同意，甲方向乙方的委托及向乙方发出的指令均不可撤销。

           h4.pad-top-15 第一条  定义及解释
           p.text-indent 在本协议中，除非上下文另有解释，下列词语具有以下含义：
           p.text-indent 1.1 甲方用户名：是乙方服务平台为甲方提供的唯一编号。甲方可自行为该用户名设置密码，并用以查询或计量应收或应付款。甲方需使用手机号码或者乙方允许的其它方式，例如通过指纹或手势等方式，作为登录手段登录。
           p.text-indent 1.2 平台：除本协议另有规定外，指乙方运营的网站www.jintoushou.com及/或相关移动客户端应用程序。
           p.text-indent 1.3 工作日：指中华人民共和国法律法规规定的工作日。
           p.text-indent 1.4  出借人：指经平台提供的信息中介服务，出借资金给借款人的自然人、法人或其他组织，在平台也称“投资人”。
           p.text-indent 1.5  借款人：指在平台发布融资需求信息，从出借人处获得资金的自然人、法人或其他组织，在平台也称“融资人”。
           p.text-indent 1.6  投资人：即出借人。
           p.text-indent 1.7  融资人：即借款人。

           h4.pad-top-15 第二条  甲方的权利与义务
           p.text-indent 2.1 甲方有利用平台自由选择资金出借或以其他方式提供资金的权利，并按照与交易对方约定时间收取孳息和本金或其他资金收益。
           p.text-indent 2.2 甲方有义务按照平台的相关要求向乙方提供其有关真实信息，因甲方提供虚假信息而造成的一切法律后果（包括但不仅限于民事赔偿、行政处罚等）均由甲方自行承担。
           p.text-indent 2.3 甲方有义务按照乙方要求，应用平台软件、客户端以及查收平台发出的所有消息（包括但不仅限于电子邮件、手机短信、微信与QQ客服群消息等）。因甲方原因操作不当，以及疏于查收相关信息造成的损失由甲方自行承担。
           p.text-indent 2.4 甲方应当准确提供并及时更新提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便乙方进行及时、有效联系。甲方完全独自承担因通过这些联系方式无法取得联系而导致的甲方在使用平台服务过程中遭受的任何损失。
           p.text-indent 2.5 甲方应当妥善保管自己的登录用户名、密码及身份信息，应对使用注册用户名及密码、校验码进行的一切操作负责。甲方对因密码泄露、身份信息泄露所致的损失自行承担。如甲方发现有他人冒用或盗用自己的登录用户名及密码或任何其他未经合法授权的情形，应立即以有效方式通知乙方。
           p.text-indent 2.6 为了便于统一向相关借款协议或其他融资协议项下的借款人主张权利，甲方授权乙方代其履行相应借款协议或其他融资协议项下的违约救济措施，乙方有权利（但无义务）为了甲方的利益根据相关借款协议或其他融资协议的约定，积极行使相关违约救济措施，但不对行使违约救济措施的最终结果向甲方承担责任。乙方为甲方利益而行使违约救济措施过程中发生的合理成本、费用将优先于甲方可获得的孳息和本金或其他资金收益向乙方清偿。

           h4.pad-top-15 第三条  乙方的权利和义务
           p.text-indent 3.1 乙方应当按照本协议的规定，恪尽职守，以诚实、信用、审慎管理的原则为甲方进行服务。
           p.text-indent 3.2 乙方须对甲方按照平台相关要求提供的个人信息、资产情况及其他服务相关信息和资料依法保密。
           p.text-indent 3.3 乙方有义务对债务人的资格进行形式审查，保障在平台上进行融资的债务人真实存在并取得相关资质。核查债务人提供的抵押物（如有）真实性，并完成抵押等手续。
           p.text-indent 3.4 除非本协议或双方已签署的其他协议中另有明确约定，否则乙方不对甲方因在平台上所做的任意交易而发生的任何损失，承担任何单独或连带的补偿或赔偿责任。
           p.text-indent 3.5 乙方有权根据甲方在乙方平台的《客户风险认知和风险承受能力评估调查问卷》结果，对甲方在乙方平台的投资总金额进行限定。

           h4.pad-top-15 第四条  风险提示
           p.text-indent 4.1 交易风险：因甲方的过错导致的任何损失由甲方自行承担，该过错包括但不限于：不按照交易、支付提示操作，未及时进行交易操作，遗忘或泄漏密码，密码被他人盗窃，甲方使用的计算机被他人侵入等情形。
           p.text-indent 4.2 不可抗力：由于台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力因素的出现而可能导致甲方资产损失的风险。
           p.text-indent 4.3 政策风险：因国家宏观政策、财政与货币政策、行业或地方政策、法律法规等因素引起的政策风险，影响或导致甲方资产发生损失。
           p.text-indent 4.4 信用风险：当借款人发生资金状况的风险，或者借款人的还款意愿发生变化时，甲方的出借资金可能无法按时收回。

           h4.pad-top-15 第五条  税务处理
           p.text-indent 甲方在资金出借过程产生的相关税费，由甲方自行向其主管税务机关申报、缴纳，乙方不负责相关事宜处理。

           h4.pad-top-15 第六条  违约责任
           p.text-indent 本协议生效后，甲乙双方均应严格履行本协议约定的义务，任何一方不履行或不完全履行本协议约定的义务，应承担相应的违约责任，并赔偿由此给对方造成的损失。

           h4.pad-top-15 第七条  责任范围及责任限制
           p.text-indent 7.1 甲方明确并同意因交易所产生的任何风险应由甲方与交易对方承担。
           p.text-indent 7.2 双方同意并确认，乙方根据本协议的约定向甲方提供的所有投资咨询服务仅供甲方决定是否出借资金时予以参考，无论甲方通过金投手平台形成的借贷关系是否存在第三方担保，在任何情况下均不应视为乙方及其关联方对借款人偿还能力及借款协议的履行作出了任何明示或默示的担保， 亦不应视为乙方及其关联方对甲方的本金和/或收益作出了明示或默示的担保或保证。甲方应自行判断相关信息的真实性、准确性、及时性，自主决定是否出借资金，并承担由此而导致的一切损失或责任。
           p.text-indent 7.3 甲方了解并同意，乙方提供投资服务时可能需要与银行或非银行业的第三方支付机构等开展合作。因此，甲方同意：乙方不对银行及第三方支付机构进行相应资金划转的时限、准确性、及时性等作出任何承诺或承担任何相关责任，包括但不限于由此产生的利息、货币贬值、银行及第三方支付机构执行划转指令出现错误、银行及第三方支付机构系统故障、银行及第三方支付机构对资金划转的特定限制等导致的损失或责任；就本条规定的资金管理服务，甲方应按照银行及第三方支付机构的规定支付相关费用（如有）。就费用支付事项产生的任何争议、纠纷等，均由甲方与银行及（或）第三方支付机构自行解决，乙方不承担因此而产生的任何损失或责任。
           p.text-indent 7.4 甲方自乙方工作人员或经由本服务取得之建议和资讯，无论其为书面或口头形式，均不构成乙方对本服务之保证。
           p.text-indent 7.5系统中断或故障  乙方系统因下列状况无法正常运作，致使甲方无法使用各项服务时，乙方不承担损害赔偿责任，该状况包括但不限于：
           p.text-indent （一）乙方在本网站公告之系统停机维护期间。
           p.text-indent （二）电信设备出现故障不能进行数据传输的。
           p.text-indent （三）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成乙方系统障碍不能执行业务的。
           p.text-indent （四）由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。

           h4.pad-top-15 第八条  协议终止
           p.text-indent 8.1 甲方所提供的注册信息主要内容不真实、不准确、不及时、不完整，则乙方有权终止本协议。
           p.text-indent 8.2 根据本条规定终止协议时，乙方已收取的成功交易的服务费用不再退还，双方在本协议终止后30个工作日内对甲方的剩余资金进行清算。

           h4.pad-top-15 第九条  争议的处理
           p.text-indent 在本协议履行过程中，如发生任何争执或纠纷，应友好协商解决；如协商不成的，双方约定向北京市海淀区人民法院提起诉讼。

           h4.pad-top-15 第十条  其他事项
           p.text-indent 10.1 如果甲方出现出借资金的继承或赠与，必须由主张权利的继承人或受赠人向乙方出示经国家权威机关认证的继承或赠与权利归属证明文件，经乙方确认后方予协助进行资产的转移。因此产生的相关税费，由主张权利的继承人或受赠人，向其主管税务机关申报、缴纳，乙方不负责相关事宜处理。
           p.text-indent 10.2本协议的电子版、传真件、复印件、扫描件等有效副本的效力与本协议原件效力一致。
           p.text-indent 10.3本协议自双方签订确认之日起长期有效，如乙方需要对本协议版本进行修订，则其有义务告知甲方后并经甲方同意后适用新版协议。
           p.text-indent 10.4 双方因履行本协议需要就具体内容另行签订补充协议的，可另行签订补充协议，补充协议与本协议具有同等法律效力。
           p.text-indent 10.5本协议签订之日起，甲方或乙方的重要信息如发生变更的，其应当在相关信息发生变更3个工作日内将更新后的信息提供给对方。若因其未及时提供变更信息而带来的损失或额外费用应由该方自行承担。
           p.text-indent 10.6双方确认本协议的签订、生效和履行以不违反中华人民共和国的法律法规为前提。如果本协议中的任何一条或多条内容违反所适用的法律法规，则相关条款被视为无效，但该无效条款并不影响本协议其他条款的效力。
           p.text-indent 10.7本协议一式两份，甲、乙双方各持一份，均具有相同的法律效力。

           p.row.pad-top-15
                p.col-40
                    b 甲方：
                p.col-60
                    b 乙方：金投手金融信息服务（北京）有限公司
                p.col-40
                    b 签字：
                p.col-60
                    b 签字：

           p.row
               p.col-40.pad-top-15.pad-bottom-15
                   b 时间：
               p.col-60.pad-top-15.pad-bottom-15
                   b 时间：

           p 签署地：北京市海淀区
block script
    include ../jslib/otherjs