extend ../common
block main
    .register
       .centent
           h2(style='padding-bottom:0;') 金投手平台网络借贷协议
           p.text-right 合同编号：

           p.pad-top-15 甲方（出借人）：
           p.row
               p.col-35.pad-bottom-15 金投手平台账号：
               p.col-65.pad-bottom-15 身份证号码：
           p 乙方（借款人）：
           p 住所：
           p 法定代表人：

           p.pad-top-15 丙方（居间人）：金投手金融信息服务（北京）有限公司
           p.pad-top-15 住所：北京市海淀区丹棱街1号1号院2201室

           p.pad-top-15 鉴于：
           p 1、丙方（居间人）是一家在北京合法成立并有效存续的有限责任公司，拥有并运营金投手金融信息服务平台（网址为www.jintoushou.com，以下简称“金投手平台”），金投手平台旨在为资金供需双方提供借款及投资信息发布、投融资居间服务、增值服务以及投资相关其他服务，以促成投融资及相关交易在合法、透明、安全的环境下得以便捷、高效地实现。
           p 2、甲方（出借人）承诺：在本金投手平台进行交易的全部投资款项来源合法并具有完整的、排他的所有权及处分权；甲方作为完全民事行为能力人，完全理解投资相关的风险及法律后果，甲方在金投手平台的所有交易行为均是自主的，并自愿承担相应可能存在的风险或者后果；甲方承诺其提供给金投手平台的全部信息均是合法、真实、准确的。
           p 3、乙方（借款人）承诺：乙方因资金周转等特定原因之需，通过金投手平台发布借款需求信息，并按金投手平台的使用规则提供相关材料，乙方保证其发布的借款信息及相关材料是合法、真实、完整及准确的。
           p 出借人与借款人通过金投手平台的居间服务，就有关借款事项达成如下合同条款，共同遵照履行：

           h4.pad-top-15 一. 术语与定义
           p 1、出借人，指经平台提供的信息中介服务，出借资金给借款人的自然人、法人或其他组织，在平台也称“投资人”。
           p 2、借款人，指在平台发布融资需求信息，从出借人处获得资金的自然人、法人或其他组织，在平台也称“融资人”。
           p 3、投资人，即出借人。
           p 4、融资人，即借款人。
           p 5、借款金额，即平台上的借款项目的项目金额。
           p 6、借款期限，即平台上的借款项目的项目期限。
           p 7、借款利率，即平台上的借款项目的预期收益率，一般指年化利率。

           h4.pad-top-15 二. 借款详情如下表所示：
               table.text-center(cellspacing='0',cellpadding='0')
                   tr
                       td 出借人
                       td 借款金额
                       td 借款期限
                       td 借款利率
                       td 预计起息日
                       td 预计到期日
                       td 还款方式
                   tr
                       td &nbsp;
                       td
                       td
                       td
                       td
                       td
                       td

           h4.pad-top-15 三. 还款
           p 1、借款人承诺按照本合同第一条约定的时间、金额及还款方式按期足额向出借人还款。
           p 2、借款人的还款日为每月当日的前一日。
           p 3、借款人的最后一期还款必须包含剩余本金、利息及其他根据本合同产生的全部费用。
           p 4、采用先息后本方式的，借款人应于借款当日支付所有利息，最后一天还本金。
           p 利息=本金×年利率÷365天×借款天数。
           p 5、如借款到期日为法定节假日或休息日以及法定节假日或休息日后的第一个工作日，因考虑到银行结算及第三方支付到账时间，借款人须提前在最近的工作日还款。例：2015年5月1日（周五）为国家法定节假日，5月2日、3日分别为周六、周日，5月4日为周一，按照国家相关规定5月1日-3日放假，借款人还款日在5月1日—4日之间的，则须提前到最近的工作日4月30日(周四)还款。

           h4.pad-top-15 四. 各方权利、义务
           p （一）甲方的权利、义务
           p 1、甲方享有其所出借款项所带来的利息收益；
           p 2、甲方可以根据自己的意愿就本合同下享有的对乙方的债权进行转让，且不需要经过乙方的同意。债权转让的通知可以甲方委托丙方书面通知乙方，乙方认可此通知方式及其法律效力。在甲方债权转让通知送达后，乙方需对债权受让人继续履行本合同下其对甲方的还款义务，不得以任何理由拒绝履行；
           p 3、如乙方出现逾期还款、迟延付息或者合同约定的其他违约情形，甲方有权要求丙方提供已获得的乙方相关身份信息，以便于及时追索欠款，维护自身合法权益。
           p 4、甲方应按合同约定的借款日将足额的借款本金支付给乙方；
           p 5、甲方应自理由利息收益等可能产生的税费。
           p （二）乙方权利、义务
           p 1、乙方作为借款人应按丙方或金投手平台的有关要求提供相关材料；
           p 2、乙方有权通过金投手平台提出借款申请发布特定的借款标，并提供相关材料，乙方应确保其提供的信息和资料的合法性、真实性、完整性及准确性，不得有任何欺诈和隐瞒行为，不得利用网站实施诈骗等违法犯罪行为；
           p 3、乙方承诺所借款项不用于任何违法用途；
           p 4、乙方必须按期足额向甲方偿还本金、利息；
           p 5、乙方必须按期足额向丙方支付服务费用及合同或者服务协议约定的其他费用；
           p 6、乙方不得将本合同项下的任何权利义务转让给任何其他方。
           p （三）丙方的权利、义务
           p 1、甲方同意向乙方出借相应款项，在本合同生效时通过丙方及丙方合作银行将借款金额划付给乙方；
           p 2、甲、乙双方同意丙方有权代甲方收取出借款项所对应的乙方每期应当偿还的利息，并将利息划付至甲方在金投手平台开立的银行存管账户中；
           p 3、丙方根据甲方和乙方各自的申请或委托，为双方提供投融资相关的居间信息服务，并收取费用；
           p 4、丙方可对乙方提供的相关材料，包括但不限于：乙方征信报告、财产状况说明及权利证书、企业资质证照、财务状况资料、收入情况及证明、借款需求说明、还款保障等进行信用审核，但丙方不对该等信息和材料的合法性、真实性、完整性和准确性做任何保证和承诺；
           p 5、甲乙双方均清楚并同意，在投融资交易过程中发生的资金往来，均已全权委托并通过丙方认可的银行存管系统支付或者收取，丙方的责任仅限于根据网站服务协议以及交易规则发出交易指令，以完成付款或收款等交易，并不代表丙方构成交易的主体，丙方不控制资金的流向；
           p 6、为保障投融资双方的信息安全以及相关商业秘密，丙方应对甲方和乙方的信息及本合同内容保密，但因任何一方出现合同约定的违约情形，或相关权力部门要求（包括但不限于公安、检察院、法院、政府机关、金融监管机构、仲裁机构等），丙方有权向相关方披露甲方或者乙方经实名认证程序提 供给丙方的真实身份信息，包括但不限于，真实姓名、身份证号码、电话、家庭住址等；
           p 7、丙方接受甲乙双方的委托行为所产生的法律后果由相应委托方承担。如因乙方或甲方或其他方（包括但不限于技术问题）造成的延误或错误，丙方不承担任何责任。

           h4.pad-top-15 五. 丙方的责任限制及免除：
           p 1、丙方作为居间方仅提供本合同或者网站服务协议载明的相关中介服务，并非借贷的交易方。因此，出借人和借款人均自愿承担通过本网站进行投融资带来的一般的及特定的交易风险和损失，包括但不限于因借款人违约导致的借款本金、利息损失等；
           p 2、除本合同及网站服务协议载明的风险基金的保障措施外，丙方对甲方和乙方的投融资预期收益目 标的实现不做任何明示或者隐含的保证及承诺；对非因丙方原因造成的，甲方和乙方因使用网站进行 交易而产生的直接或间接损失均不承担法律责任,包括但不限于资金损失、利润损失、营业中断损失等。
           p 3、除本合同有约定外，丙方作为居间方以及网站运营管理者的相关权益以金投手网站用户服务协议以及相关服务规则确定。

           h4.pad-top-15 六. 违约责任
           p 1、任何一方违约，违约方应承担因违约导致其他各方产生的费用和损失，包括但不限于调查费、诉讼费、律师费等。如违约方为乙方的，甲方有权立即解除本合同，并要求乙方立即偿还未付的本金、利息、罚息、违约金等。乙方还应向丙方支付所有应付的借款管理费。如本合同提前解除时，乙方乙方在约定的还款账户里有任何余额的，丙方有权按照本条第3款的清偿顺序将乙方的余款用于清偿，并要求乙方支付因此产生的相关费用。
           p 2、合同各方均应严格履行合同义务，非经各方协商一致或依照本合同约定，任何一方不得解除本合同。
           p 3、乙方的每期还款均应按照如下顺序清偿：
           p （1）根据本合同产生的其他全部费用；
           p （2）罚息；
           p （3）拖欠的利息；
           p （4）拖欠的本金；
           p （6）正常的利息；
           p （7）正常的本金；
           p 4、乙方应严格履行还款义务，如乙方逾期还款，则自逾期当日开始，除正常计算利息外，应按下列计 算方式向甲方支付逾期罚息：
           p 罚息总额=逾期本金总额×对应罚息利率×逾期天数；  罚息费率：[  &nbsp;]/日；
           p 5、在乙方还清全部本金、利息、罚息之前，罚息及利息不停止计算。
           p 6、如果乙方逾期支付任何一期还款超过10天的，或乙方在逾期后出现逃避、拒绝沟通或拒绝承认欠款事实等恶意行为，丙方有权将乙方违约失信的相关信息及乙方其他信息向媒体、用人单位、公安机关、检察机关以及其他单位披露，丙方不承担任何责任。
           p 7、本借款合同中的所有甲方与乙方之间的借款均是相互独立的，一旦乙方逾期未归还借款本息，甲方 有权单独向乙方追索或者提起诉讼。如乙方逾期支付借款管理费或提供虚假信息的，丙方亦可单独向 乙方追索或者提起诉讼。

           h4.pad-top-15 七. 提前还款
           p 1、乙方可在借款期间任何时候提前偿还剩余全部或部分借款。
           p 2、提前偿还全部剩余借款：
           p 乙方提前清偿全部剩余借款时，应按最短借款期限向甲方支付当期及剩余还款期借款利息及本金。
           p 3、提前偿还部分借款：
           p 乙方提前偿还部分借款，仍应向甲方支付全部借款利息；
           p 4、任何形式的提前还款均不影响丙方向乙方收取在本合同第四条中所列的相关服务费。
           p 5、乙方提前清偿全部或者部分借款而不承担任何的违约责任(借款超过1日不足最短借款期限者利息按最短借款期限计算)。

           h4.pad-top-15 八. 违约行为
           p 1、除本合同另有约定外，甲、乙双方同意,借款人如有以下任何一种情形,则视为违约,本合同项下的全部借款自动提前到期,借款人在收到本网站发出的借款提前到期通知后，应立即清偿全部本金、利息、 逾期利息及根据本合同产生的其他全部费用：
           p 1.1、借款人因任何原因逾期支付任何一期本金、利息超过10天的；
           p 1.2、借款人的工作单位、职务或住所变更后，未在10天内通知本网站的；
           p 1.3、借款人发生影响其清偿本合同项下借款的其他不利变化，未在10天内通知本网站的；
           p 1.4、借款人向居间人提供虚假信息的。

           h4.pad-top-15 九. 法律适用及争议解决
           p 1、本合同的签订、履行、终止、解释均适用中华人民共和国法律。与本合同有关的任何争议，经协商无法解决的，应通过诉讼并由丙方所在地北京市海淀区有管辖权的人民法院管辖。

           h4.pad-top-15 十. 其他
           p 1、本合同采用电子文本方式形成，并永久保存在丙方为此设立的专用服务器上备查，各方均认可该形式的合同效力并可通过金投手平台在线浏览、下载。
           p 2、本合同自借款人在本网站发布的借款标的募集成功起生效。
           p 3、借款人、出借人、保证人在履行本合同过程中，应遵守本网站的各项规定，网站的使用规则、服务 协议等相关内容构成合同不可分割的组成部分，与合同条款具有同等法律效力。
           p 4、出借人、借款人、保证人同意、授权或认可，金投手平台作为网络借款的中介平台根据本合同的规定和金投手平台公示的其他规定行使各项权利，发出各项通知或采取各项措施，一切法律后果和风险均由借款人、出借人及保证人承担。
           p 5、本合同有效期内，各方有义务在信息变更三日内提供更新后的信息给丙方。如若因任何一方不及时提供上述变更信息而带来的损失或额外费用应由该方承担。
           p 6、如果本合同中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本合同其他条款的效力。
           p 7、本网站拥有对本合同的最终解释权。

block script
    include ../jslib/otherjs