extend ../common
block main
    .register
       .centent
           h2 用户隐私保密协议
           p 欢迎访问金投手网站。为保护用户的隐私权，规范信息收集和使用等事项，金投手特此作出以下声明。本站的隐私声明正在不断改进中，随着服务范围的扩大，金投手会随时更新金投手的隐私声明。
           p 在同意金投手平台注册服务协议（以下简称"协议"）之时，您已经同意金投手按照本隐私声明来使用和披露您的个人信息。本隐私声明的全部条款属于该协议的一部分。

           h4.pad-top-15 一、信息的收集
           p 1、当您注册金投手账户时，金投手会要求您提供个人信息包括但不限于您的真实姓名，电话号码等。您有权选择填写附加信息。该等信息可能包括贵公司所在的省份和城市，时区和邮政编码，传真号码，主页和您的职务。金投手通过注册信息来获得会员的统计资料。金投手可能将您已提交的信息与其他服务或第三方的信息相结合，以便为您提供更好的服务质量。
           p 2、当您注册金投手账户时，金投手要求您选择一个用户名和密码，您只能通过您的密码来使用您的账号。如果您遗漏了密码，您可能会丢失了您的个人识别信息，并且可能出现对您不利的后果。因此若发生可能危及您密码安全的所有情况，您应立即以有效的方式与金投手联系。
           p 3、金投手还收集可供金投手及其商业伙伴参考或使用的隐含信息。此类信息来源于"用户访问纪录"，包括但不限于"Cookies"、"IP地址"、浏览过的网页或其他数字识别，以及非会员用户在使用金投手部分服务时被要求提交的信息。金投手对该等信息进行收集，是为了使金投手的网站界面对您更友好，并通过综合统计与市场分析，更有针对性的为您提供有效服务，同时也是防止金投手受到恶意攻击的必要措施。
           p 4、为了能够向您提供更全面、专业、细致的服务，金投手在某些领域会通过与第三方合作的方式建立服务。在您选择应用第三方的服务时，您可能需要向该第三方提供某些信息，如向支付机构、存管银行提供银行卡信息。

           h4.pad-top-15 二、信息的披露和使用
           p 1、金投手不会向任何无关的第三方提供、出售、分享和交易您的个人信息，但为方便您使用金投手及关联公司或其他组织的服务（以下简称"其他服务"），您同意并授权金投手将您的个人信息传递给您同时接受其他服务的金投手关联公司或其他组织，或从为您提供其他服务的金投手关联公司或其他组织获取您的个人信息。
           p 2、金投手会对您的身份和交易数据进行综合统计，并以金投手判断合理的目的和用途使用该综合统计结果。但是，在该等情况下，金投手不会对外披露任何可能用以识别用户的个人身份的资料，但从您的用户名或其它可披露资料分析得到的资料不受此限。
           p 3、您知悉并同意，金投手可披露或使用您的个人信息以用于识别和（或）确认您的身份，或解决争议，或有助于确保网站安全、限制欺诈、非法或其他刑事犯罪活动，以执行金投手的服务协议。
           p 4、您知悉并同意，金投手可披露或使用您的个人信息以保护您的生命、财产之安全或为防止严重侵害他人之合法权益或公共利益之需要。
           p 5、您知悉并同意，金投手可披露您同意金投手可批露或使用您的个人信息以改进金投手的服务，并使金投手的服务更能符合您的要求，从而使您在使用金投手服务时得到更好的使用体验。
           p 6、您知悉并同意，金投手利用您的个人信息与您联络，并向您提供您感兴趣的信息，如：产品信息。您接受"服务协议"和本隐私声明即为明示同意收取这些资料。
           p 7、您知悉并同意，金投手有义务根据有关法律要求向司法机关和政府部门提供您的个人资料。在您未能按照与本协议、金投手有关规则或者与金投手其他用户签订的有关协议的约定履行自己应尽的义务时(包括但不限于当您作为借款人借款逾期或有其他违约时)，金投手有权根据自己的判断、有关协议和规则、国家生效裁决文书或者与该笔交易有关的其他用户的合理请求披露您的个人资料(包括但不限于在金投手及互联网络上公布您的违法、违约行为，并有关将该内容记入任何与您相关的信用资料、档案或数据库)，并且作为出借人(指经平台提供的信息中介服务,出借资金给借款人的自然人\法人或其他组织,也称”投资人”)的其他用户可以采取发布您的个人信息的方式追索债权或通过司法部门要求金投手提供相关资料，金投手对此不承担任何责任。

           h4.pad-top-15 三、信息安全
           p 1、金投手会采取适当的安全措施以确保掌握的信息不被修改、泄露、销毁或其他方式的滥用。该等安全措施包括向其它服务器备份数据、对用户密码加密及内部审查信息收集、存储等。尽管金投手采取该等安全措施，但请您注意因特网上不存在"完善的安全措施"。
           p 2、金投手只允许那些为了代表金投手处理个人信息而需要知晓该等信息的金投手员工访问它们。这些人员均受到保密协议的约束，如果他们不遵守该等义务，将受到包括终止合同和刑事起诉等在内的相应处罚。
           p 3、对通过金投手所含链接到达的其他网站的隐私保护措施，金投手不承担任何责任。

           h4.pad-top-15 四、访问和更新个人信息
           p 1、您使用金投手服务时，金投手会尽所能让您能访问您的个人信息。如果该等数据不准确，您可以加以纠正。如果按照法律或从合理的商业目的来看不需要保留该等数据，金投手会应您的要求将其删除。
           p 2、在处理您关于访问、纠正或删除信息的请求时，金投手要求您首先要确认自己的身份以及所要处理的信息，并且金投手可能会拒绝受理以下请求：不合理的重复请求或系统化请求；需要付出过大技术努力的请求；危及他人隐私的请求； 极不现实的请求或者您请求访问无需访问的信息等。

           h4.pad-top-15 五、本隐私声明的修改
           p 请注意，本隐私声明随时都可能修改。金投手会在网站上公布对隐私声明的任何更改。如果您不同意被修改的隐私声明，可主动取消已获得的服务；如果您继续使用服务，则视为接受声明的修改。
           p 如果您对本隐私声明或金投手的隐私保护措施以及您在使用中的问题有任何意见和建议，请以有效的方式及时与金投手联系。
block script
    include ../jslib/otherjs