extend ../common
block main
    .register
       .centent
            h2 金投手用户注册协议
            ol
                li 金投手（网址为：www.jintoushou.com）由【金投手金融信息服务（北京）有限公司】设立并运营。在注册成为本网站用户之前，您必须仔细阅读、充分理解、同意并接受用户注册协议（“本协议”）包含的所有条款和条件，包括明示条款和因被提及而纳入的文件、条款和条件。在本网站注册后，您将有权依据本协议接受本网站的服务，同时有义务接受本协议的约束。本协议中“本网站”包含金投手网站及网站运营商【金投手金融信息服务（北京）有限公司】。
            h4 1. 本协议的文本
            ol
                li 1.1 本协议包括本协议项下全部条款以及本网站已经发布的及将来可能发布的与本网站用户有关的各项规则，该等规则均为本协议不可分割的一部分，与本协议项下全部条款具有同等法律效力。
                li 1.2 您勾选本网站注册页面下方的“我已阅读并同意《金投手用户注册协议》”选项，按照本网站的流程成功注册后，本协议对您和本网站产生法律效力，您在本网站的任何活动均受本协议的约束。您不得以未签署书面协议为由否认本协议的效力。在注册成为本网站用户时，您已经仔细阅读、充分理解、同意并接受本协议的全部条款及各类规则，倘若违反本协议的任何规定，您将承担违反本协议产生的法律责任。
                li 1.3 本网站有权根据业务运营的需要不时修订本协议，并且在本网站公告经过修订的本协议。经修订的相关条款和规则一经公告，即于公告之日或公告规定的生效日期自动生效。请您关注本网站相关公告。
                li 1.4 本网站可以依其判断暂时停止提供、限制或改变本网站服务，只要您仍然使用本网站服务，即表示您仍然同意本用户注册协议。
                li 1.5 本协议不涉及您与本网站的其他用户之间因网上交易而产生的法律关系及法律纠纷。
            h4 2. 注册用户
            ol
                li 2.2 在注册时和使用本网站服务的期间，您应提供本网站要求提供的真实资料和信息。您应保证自注册之时起，在您使用本网站服务的期间，您所提交的任何资料和信息（包括但不限于：电子邮件地址、联系电话、联系地址、邮政编码、个人身份信息、征信信息等）真实、准确、完整，并且是最新资料。若您提供任何错误、虚假、过时或不完整的资料，或者本网站依其独立判断怀疑资料为错误、虚假、过时或不完整，本网站有权包括但不限于停用您的用户帐户、拒绝您使用本网站服务的部分或全部功能。
                    b 在此情况下，本网站不承担任何责任，并且您同意负担因此所产生的直接或间接的任何支出或损失。
                li 2. 3 如因您未及时更新基本资料，导致本网站服务无法提供或提供时发生任何错误，您不得将此作为取消交易或拒绝付款的理由，
                    b 本网站亦不承担任何责任，所有后果应由您个人承担。
                li 2.4 除本协议以外，您应同时遵守本网站平台不时发布及更新的全部规则，包括但不限于公告、产品流程说明、平台项目说明、风险提示等。
            h4 3. 本网站的服务内容
            ol
                li 3.1本网站通过本网站以及其他渠道和方式等向您提供任何一项或多项服务：
                    ol.text-indent
                        li (1) 为您与借款人形成借贷关系提供居间服务；
                        li (2) 信用咨询及贷后管理服务；
                        li (3) 其他相关服务。
                li 3.2本网站服务的部分内容需要您根据本网站要求完成身份认证及银行卡认证，未进行身份认证及/或银行卡认证的用户将无法使用该部分本网站服务。
                    b 因未能完成认证而无法享受本网站该部分服务造成的损失，本网站不承担任何责任。
                li 3.3本网站接受信息发布方的委托进行信息发布，本网站仅对发布的信息承担表面审查责任，不对信息的准确、完整、合法性作出保证，也不承担相关责任，您应依其独立判断做出决策。您据此进行交易的，产生的风险由您个人自行承担，您无权据此向本网站提出任何法律主张。
                    b 您与交易对方之间因交易发生的或与交易有关的任何纠纷，应由纠纷各方自行解决，本网站不承担任何交易风险及法律责任。
                li 本网站向您提供服务的具体内容由本网站与您另行签署的《金投手平台居间服务协议》及/或其他协议约定。
                li 3.4 本网站向您提供的服务的费用标准和规则由本网站与您另行签署的《金投手平台居间服务协议》或其他协议约定。
            h4 4. 用户使用限制
            ol
                li 4.1 您不得利用本网站或本网站服务从事任何不符合中华人民共和国法律、法规、规章、规范性文件及政府政策（“
                    b 中国法律
                    |”）或侵犯他人合法权益的活动。
                li 4.2 在使用本网站提供的任何服务时（站内信服务、群组服务、论坛服务或其他电子邮件转发服务等），您不得发送、公布或展示任何垃圾邮件、信息或其他可能违反中国法律及本协议的内容。倘若发现您从事该等活动或发布该等内容时，本网站有权不经您同意而删除该等内容。
                li 4.3 您向本网站提交或通过本网站发送、公布或展示的资料须满足以下条件：
                    ol.text-indent
                        li (1) 不得具有欺诈性、虚假、不准确或具误导性；
                        li (2) 不得侵犯任何第三方著作权、专利权、商标权、商业秘密或其他专有权利或发表权或隐私权；
                        li (3) 不得违反任何中国法律；
                        li (4) 不得有侮辱或者诽谤他人，侵害他人合法权益的内容；
                        li (5) 不得有淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的内容；
                        li (6) 不得包含可能破坏、改变、删除、不利影响、秘密截取、未经授权而接触或征用任何系统、数据或个人资料的任何病毒、特洛依木马、蠕虫、定时炸弹、删除蝇、复活节彩蛋、间谍软件或其他电脑程序；以及
                        li (7) 不得直接或间接链接至您无权链接或列入的任何网址或者内容。
                        li 发现上述内容时，本网站有权不经您同意而删除该等内容。
                li 4.4 本网站有权对您进行信用评价，但该等信用评价仅为促进用户之间的交易之目的而设计。您不得将本网站的信用评价在本网站以外的任何场所展示、推销或以其他方式输出。
                li 4.5 未经本网站明示或者书面准许，您不得从事以下任何行为：
                    ol.text-indent
                        li (1) 使用任何机器人、蜘蛛软件、刷屏软件或其他自动方式进入本网站;
                        li (2) 进行任何对本网站造成或可能造成重大负荷的行为；
                        li (3) 干扰或试图干扰本网站的正常工作或本网站进行的任何活动；以及
                        li (4) 越过本网站可能用于防止或限制进入本网站的机器人排除探头或其他形式。
                li 4.6 您在注册时向本网站提交的电子邮箱、用户名、密码及安全问题答案是您在本网站的唯一识别信息，您了解并同意，确保用户账户及密码的机密安全是注册用户的责任。注册用户将对利用该账户及密码所进行的一切行动及言论，负完全的责任，并同意以下事项：
                    ol.text-indent
                        li (1) 您注册成功后，不对其他任何人泄露账户或密码，亦不得将注册的电子邮箱、用户名、密码及安全问题答案转让或授权给第三方使用。
                            b 因黑客、病毒或个人的保管疏忽等非本网站原因导致您的用户账户遭他人非法使用的，本网站不承担任何责任；
                        li (2) 本网站通过您的用户账户及密码来识别您的指令，使用您用户账户和密码登陆本网站在本网站的一切行为均代表您本人。
                            b 个人用户账户操作所产生的电子信息记录均为您个人行为的有效凭据，并由您本人承担由此产生的全部责任；以及
                        li (3)冒用他人账户及密码的，本网站及其合法授权主体保留追究实际使用人连带责任的权利。如您发现有任何第三人冒用或盗用您个人用户账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知本网站，要求本网站暂停相关服务，否则由此产生的一切责任由您本人承担。
                            b 同时，您理解本网站对您的请求采取行动需要合理期限，在此之前，本网站对第三人使用该服务所导致的损失不承担任何责任。
                li 4.7本网站的任何内容，包括但不限于文本、数据、图片、音频、视频、源代码和其他所有信息，均由本网站享有知识产权。未经本网站事先书面同意，您或其他任何人不得复制、改编、传播、公布、展示或以任何其他方式侵犯本网站的知识产权。
            h4 5. 用户信息的使用、保护及披露
            ol
                li
                    b 5.1 您同意并授权：本网站在业务运营中收集和储存您的用户信息，包括但不限于您提供的资料和信息，以及本网站自行收集、取得的您在本网站的交易记录和使用信息等。
                li
                    b 5.2 您同意并授权：本网站可以通过依法成立的征信机构或必要开展合作的第三方查询和收集您的个人信息。
                li
                    b 5.3您同意聘请本网站合作的电子数据保全机构作为所有电子交易数据的保全服务机构保全电子交易信息，同时同意选定国家信息中心电子数据司法鉴定中心作为司法鉴定机构对电子交易的真实、合法、有效性进行司法鉴定。
                li
                    b 5.4 您同意并授权本网站在业务运营中使用您的用户信息，该类信息的使用方式包括但不限于：
                        ol
                            li (1) 根据您与本网站签署的《金投手平台居间服务协议》或其他协议在本网站公示您的投资信息；
                            li (2) 基于合作业务要求，向本网站的合作机构（限于与本网站合作为您提供服务的机构）提供您的用户信息（包括本人在本业务中产生的不良信息等，且不再另行告知本人）；
                            li (3) 由人工或自动程序对您的信息进行评估、分类、研究；
                            li (4) 使用您的用户信息以改进本网站的推广；以及
                            li (5) 使用您提供的联系方式向您传递本网站业务和管理方面的信息。
                            li 本网站有时需要调查多名用户以识别问题或解决争议，本网站有权审查您的资料以区分使用多个用户名或别名的用户及解决争议、对纠纷进行调停。
                            li 您同意授予本网站非独占、全球性、永久、不可撤销、免使用费、可分许可（通过多层许可的方式）的权利，行使您享有的与您提供的资料有关的权利（资料包含在任何已知或目前为未知媒体中）。
                li 5.5本网站将采用行业标准惯例保护您的用户信息，包括建立信息保护制度和机制、设备。
                    b 但是任何保护措施可能受技术限制而不能确保您的信息不会通过本协议中未列明的途径泄露出去，本网站不承担因此给您造成的任何损失。
                li 5.6 特别提示：为了保障您的权益，请您务必审慎阅读，并充分理解上述条款的全部内容，特别是以加粗形式提示您注意的。
                li 5.7 特别声明：上述条款经接受本协议后即时生效，且效力具有独立性，不因相关业务合同或条款无效或被撤销而无效或失效，
                    b 一经接受本协议，上述条款便不可撤销。您接受本协议视为您本人已知悉上述条款（特别是加粗字体内容）的含义及因此产生的法律效力， 自愿作出以上授权。该授权是您本人真实意思表示，您本人同意承担由此带来的一切法律后果。
                li 5.8 本网站有义务在行政、司法机关要求时向该等机关提供您的用户信息，本网站不因此向您承担任何责任。
            h4 6. 税费
            ol
                li 6.1 您自行承担使用本网站提供服务时发生的任何费用，该费用包括但不限于网络使用费、通信费、资料快递费。
                li 6.2 针对使用本网站提供服务完成的交易而取得的收入，您自行承担相应的个人所得税及其他税费。您应自行按照中国法律向税务机关申报并缴纳个人所得税及其他税费。
            h4 7. 不保证条款
            ol
                li 7.1 无论您通过本网站形成的借贷关系是否存在第三方担保或其他担保措施，本网站及本网站的关联方（包括但不限于本网站的关联企业、董事、员工、代理人）均未以任何明示或默示的方式，对您通过本网站形成的借贷交易提供任何担保，均未以任何明示或默示的方式保证其他用户或机构提供的信息内容的真实性、充分性、及时性、可靠性、完整性和有效性。您应根据自身的风险承受能力，衡量交易相对方信息和交易的真实性和安全性，通过本网站形成的任何借贷交易所产生的直接及间接的损失均由您自身承担。
                li 7.2 本网站内容会涉及或链接到由第三方所有、控制或者运营的其他网站（“
                    b 第三方网站
                    |”）。本网站不能保证也没有义务保证第三方网站上的信息的真实性和有效性。您应按照第三方网站的注册协议，而非本注册协议使用第三方网站，第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险。
                li 7.3 如果由于本网站及相关第三方的设备、系统故障或缺陷、病毒、黑客攻击、网络故障、网络中断、地震、台风、水灾、海啸、雷电、火灾、瘟疫、流行病、战争、恐怖主义、敌对行为、暴动、罢工、交通中断、电力中断、经济形势严重恶化或其它类似事件，致使本网站未能履行本协议，不构成本网站的违约。
            h4 8. 无代理关系
            ol
                li 8.1 您与本网站是独立的合同方，本协议无意在您与本网站之间建立任何代理、合伙、合营、雇员与雇主或特许经营关系。本条约定不因任何事由而改变。
            h4 9. 通知
            ol
                li 9.1本网站对于注册用户的通知及任何其他的协议、告示或其他关于注册用户使用本网站账户及服务的通知，同意本网站可通过本网站平台公告、站内信、电子邮件、手机短信、无线通讯装置等电子方式或邮寄等物理方式进行，该等通知于发送之日视为已送达收件人。上述通知如以公示方式作出，一经在本网站公示即视为已经送达。如以邮寄方式向您发出的，则在该等通知按照您在本网站留存的联系地址交邮后的第三个自然日即视为已经送达。向您个人发布的具有专属性的通知，将由本网站向您在注册时或者注册后变更用户信息时向本网站提供的电子邮箱，或本网站在本网站上您个人账户中为您设置的“个人收件箱”，或您在注册后在本网站绑定的手机发送，一经发送即视为已经送达。请关注您的电子邮箱、“
                    b 个人收件箱
                    |”中的邮件和信息及手机中的短信信息。您勾选本网站注册页面下方的“
                    b 我已阅读并同意《金投手用户注册协议》
                    |”选项，即视为您同意接收本协议项下的通知。
                li 9.2 特别的，为保证您的交易安全，本网站将通过手机短信及/或其他方式向您提供交易信息告知服务，您勾选本网站注册页面下方的“
                    b 我已阅读并同意《金投手用户注册协议》
                    |”选项，即视为您同意接收交易信息手机短信及/或其他形式的通知信息。
                    b 因不可归责于本网站的原因（包括但不限于电子邮件地址、手机号码、联系地址等不准确或无效、信息传输故障等）导致您未在前述通知视为送达之日收到该等通知的，本网站不承担任何责任。
            h4 10. 违约责任
            ol
                li 10.1 倘若发现您违反本协议（特别是本协议第4条）项下任何陈述、保证、承诺或任何其他义务时，本网站有权不经通知而立即停止您使用本网站的全部或部分功能，并有权要求您承担您给本网站带来的任何损失。
                li 10.2 倘若您违反了本协议中所作的陈述、保证、承诺或任何其他义务，致使本网站或本网站的股东、实际控制人、董事、员工、代理人及其他关联方承受任何损失，您应向受损失的一方做出全额赔偿（包括受损失的一方因向您追偿而发生的诉讼费、律师费、差旅费、误工费等费用）。
            h4 11. 适用法律和管辖
            ol
                li 11.1 本协议适用中国法律，与本协议的解释和履行有关的争议应由【金投手金融信息服务（北京）有限公司】住所地人民法院管辖。
            h4 12. 终止
            ol
                li 12.1 除非本网站终止本协议，或您申请终止本协议及注销用户账户且经本网站同意，否则本协议始终有效。倘若您违反了本协议和相关规则，或经政府部门的要求，本网站有权通过电子邮件或手机短信等方式告知终止本协议、关闭您的账户或者限制您使用本网站。
                li 12.2 本协议第5条、第6条、第9条、第10条、第11条及第12条在本协议终止后继续有效。
            h4 13. 其他
            ol
                li 13.1 本协议标题仅为参考之用，在任何方面均不界定、限制、解释或描述该条的范围或限度。
                li 13.2 若本协议的部分条款根据中国法律被认定为无效或者无法实施时，本协议中的其他条款仍然有效。
block script
    include ../jslib/otherjs