extend ../common
block main
block position
    - var position=true
block leftnav
    -var leftnav=true
block right_help
    .right_xxpl
        h3 公司介绍
        .aboutus_public
            h4 基本信息介绍
            p 金投手金融信息服务（北京）有限公司是一家专注于供应链金融的国资互联网金融信息服务中介平台。始终致力于产融结合，支持实体经济发展。
            p 金投手经北京市海淀金融办批准，成立于2013年6月14日，注册资本5000万元人民币，实缴资本5000万元人民币。2015年8月18日，金投手互联网金融信息服务中介平台（https://www.jintoushou.com/）正式上线。
            .row
                b.color-gray 公司主要经营：
                i 专注于供应链金融领域的互联网金融产品创新和信息撮合服务。
            div
                span.color-gray 法人代表：
                | 马俊湖 先生
            div
                span.color-gray 公司接入资金存管银行：
                | 浙商银行股份有限公司
            div
                span.color-gray 注册及办公地址：
                | 北京市海淀区丹棱街1号院1号楼2201室
            .border_dashed
                span.color-gray 公司联系电话：
                | 4001017660
            h4 公司股东
            h5
                span
                | 中建国能建设集团有限公司
            .border_dashed.color-gray 中建国能建设集团，注册资本12亿元，总资产30余亿元。公司为央企直属全资子公司，是一家拥有施工承包房屋建筑、市政公路、水利水电、铁路及桥梁工程等多项壹级资质的大型综合性建筑企业。公司拥有各类工程技术、经营管理和项目管理人员1000余人，高级技术职称134人、中级技术职称476人，致力于成为用户高度信任、政府高度放心、职工高度满意、社会高度认可的一流建筑业企业航母。
            h5.pad-top-20
                span
                | 北京粮油交易所
            p.color-gray 北京粮油交易所系北京市房山城市投资发展有限责任公司（简称“房城投”）成立的国有控股公司，注册资本1.9亿元。房城投由区国资委全资设立、区金融办运营管理，是房山区政府重大项目和基础设施建设的唯一主力投融资运营平台。
            p.color-gray.border_dashed 交易所按照政府主办和市场化运作的原则，将自身的政策优势和地域优势转化为经营优势与竞争优势,积极配合北京市及房山区各级政府建设国家级商品电子信息系统交易平台的目标要求，立足北京，面向全国，致力成为集优越的IT基础设施、卓越的软件应用系统、安全的保障体系、多方位的信息咨询、完善的仓储物流、 全面的金融服务为一体的国际化粮油商品交易中心。
            h5.pad-top-20
                span
                | 北京创盈财富投资管理有限公司
            .border_dashed.color-gray 北京创盈财富投资管理有限公司，注册资本2000万元，是目前全球最热的Fintech即用科技手段提高金融服务的新型金融科技公司，通过大数据、云计算、区块链、人工智能、移动互联等代表的新一轮信息技术的应用，来将金融服务引入更趋未来的智能时代。基于技术创新驱动的模式，而非简单的对传统金融渠道的改革，公司在未来将全面融入支付、借贷、零售银行、保险、财富管理、交易结算六大金融领域。
            h4 公司组织构架
            p.pad-top-10
                img(src=website+'/images/aboutus/aboutus_1.png')
block script
    include ../jslib/otherjs