extend ../common
block main
block position
    - var position=true
block leftnav
    -var leftnav=true
block right_help
    .right_tzzjy
        h3 通知公告
        ul#noticeList
        .pagination
block script
    include ../jslib/aboutus/noticelistjs