extend ../common
block main
block position
    - var position=true
block leftnav
    -var leftnav=true
block right_help
    .right_xxpl
        h3 团队介绍
        .aboutus_public
            h4.font24 马俊湖
            p 董事长、经理、法人
            .border_dashed 年龄65，性别男，中共党员，籍贯河北省承德市，常住北京。大学文化，1970年参加工作，建筑行业从业多年。具有丰富的商业地产开发、投融资领域经验及高管人脉资源，与中信资产、中建集团等大型央企或国企保持良好的合作关系，参与多家科技、地产、矿业企业并购及战略重组，历任北京创盈财富投资管理有限公司总经理兼执行董事，公司注册资本2000万元。目前为金投手金融信息服务（北京）有限公司法人代表。
            h4.font24 田 乔
            p 董事
            .border_dashed 年龄38，性别男，籍贯湖北黄冈，大学本科学历，于2001年参加工作，在金融领域有丰富的经验及资源，现任北京市房山城市投资发展有限责任公司董事长，主要负责公司整体运营及管理工作
            h4.font24 孙 波
            p 董事
            .border_dashed 年龄28，性别男，籍贯湖南常德，本科学历，毕业于中国人民解放军信息工程大学信息技术应用于管理专业，2009年参加工作，曾担任中房国能（北京）投资基金管理有限公司副总经理、办公室副主任，2016年3月至今担任中商国能集团有限公司副总经理，主要负责集团建设部门日常管理及所属农业公司建设管理工作。
            h4.font24 赵中亮
            p CEO
            .border_dashed 毕业于澳大利亚新南威尔士大学，师从2002年诺贝尔环境奖得主马丁格林教授，资深的互联网、O2O电子商务、互联网金融领域经验，逾十年从业经历，历任多家国内知名公司高管，负责过多个大型互联网项目，普惠金融的践行者。
            h4.font24 郑冠楠
            p COO
            div 获中国人民大学硕士学位，吉林大学金融学和工商管理双学士学位。拥有11年PC、移动互联网和互联网金融行业从业经历。曾共同创建并全面负责九鼎投资旗下九信金融的运营工作，此前曾先后就职于腾讯、凤凰、新浪等国内领先的互联网公司，具备丰富的产品、运营及商务工作经验，投身互联网行业前曾在传统媒体担任财经记者。
block script
    include ../jslib/otherjs